<p id="notice"><%= notice %></p>
<div class="container" id="showz">
<h1 class="titles">
  <%= @article.title %>
</h1>

<p class="date"><%= @article.created_at.strftime("%B, %d, %Y") %></p>

<h5 class="articlebody">
  <%= @article.body %>
</h5>
<p>
  <%= image_tag @article.image_url, class: "img-responsive showpic" %>
  <%#= @article.image_url %>
</p>

<!--p class="date">
	Submitted <%= time_ago_in_words(@article.created_at) %> Ago
</p-->

</div>
<%= render 'new_comment' %>
<%= render 'comments' %>
<%= will_paginate @comments %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
